# Ogre Core Resources
[OgreInternal]
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\Main
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\RTShaderLib
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\Terrain\

# Resources required by OgreBites::Trays
[Essential]
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\SdkTrays.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\profiler.zip

# this line will end up in the [Essential] group
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# PBR media must come before the scripts that reference it
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\PBR
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\PBR\filament

FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\GLSL
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\GLSL120
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\GLSL150
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\GLSL400
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\GLSLES
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\SPIRV
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\Cg
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\HLSL
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\programs\HLSL_Cg
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\scripts
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\textures
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\textures\terrain
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\models
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\particle
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\DeferredShadingMedia
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\DeferredShadingMedia\DeferredShading\post
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\PCZAppMedia
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\scripts\SSAO
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\materials\textures\SSAO
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\volumeTerrain
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\CSMShadows
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\cubemap.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\cubemapsJS.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\dragon.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\fresneldemo.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\ogredance.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\Sinbad.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\skybox.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\volumeTerrain\volumeTerrainBig.zip

Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\DamagedHelmet.zip
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\filament_shaders.zip

[BSPWorld]
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\oa_rpg3dm2.pk3
Zip=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Media\packs\ogretestmap.zip

# Materials for visual tests
[Tests]
FileSystem=C:\Users\isaac\Documents\Curso3\0_Practicas\3_IG2\ogre-14.3.4-release\sdk\Tests\Media

